.rocket{
	animation: vibrate 1s infinite ;
}
@keyframes vibrate{
	0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-6px);
      }
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0);
      }
}

.flame {
    animation: flame 5s infinite;
}
@keyframes flame {
    0% {

		opacity: 1;
    }
	50%{
		opacity: 0.5;
	}
    100% {
		height: 900px;
		opacity: 0.2;
    }
}

.ignition
{
	animation: iginite 2s infinite;
}
@keyframes iginite{
	75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}