.flip-card {
  perspective: 1000px;
  width: 6rem;
  height: 6rem;
  padding: 4px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

@media screen and (max-width : 480px) {
  .flip-card{
    width: 4rem;
    height: 4rem;
  }
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 8px;
  
}
.flip-card-front{
	font-size: 24px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(245,0,87,1) 0%, rgba(185,1,81,1) 90% );
}

.flip-card-back {
  background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgb(169, 131, 6) 0%, rgb(240, 96, 96) 90% );
  transform: rotateY(180deg);
  color: #fff;
}
