.rocket-down{
	animation: goright 2s forwards ;
	rotate: 90deg;
	margin-top: 120px;
}
@media screen and (max-width : 480px) {
	.rocket-down{
		margin-top: 0px;
		animation: down 0.5s forwards;
		rotate: 180deg;
	}
}

@keyframes down {
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-50px);
	}
}
@keyframes goright{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-300px);
	}
}