@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@300;500&family=Poppins:wght@300;400&family=Quicksand:wght@400;500&family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://cdn.pixabay.com/photo/2023/09/09/10/25/mountains-8242910_1280.png");
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width:1024px) {
  body{
    background-size: cover;
    background-repeat: no-repeat;
  }
}
